@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100&display=swap');

@font-face {
    font-family: PromptHeader;
    src: url('https://fonts.googleapis.com/css2?family=Prompt:wght@600&display=swap');
}

@font-face {
    font-family: PromptNavbar;
    src:url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300&display=swap');
}

body {
    color: white;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;

    background: linear-gradient(to bottom right, rgb(50, 40, 77, 1.00), rgb(14, 13, 27, 0.925)),  url("main-pic/background.jpg");
    height: 100vh;
    margin: 0;
    min-height: 720px;
    padding: 0;
}

/*  =============================================
    Scroll bar
    ============================================  */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
}
   
::-webkit-scrollbar-thumb {
    background: violet; 
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: mediumorchid; 
}

::-webkit-scrollbar-corner {
    border-radius: 50px;
}

/*  =============================================
    Intro-Animation
    ============================================  */
#anim-key2 {
    display: none;
}

.anim-key1 {
    /* display: none; */
    align-items: center;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    padding: 0;

    animation: toggledisplay 1s ease 5s;
}

.content {
    /* display: none; */
    padding: 100px 40px;
    position: relative;
}

.content .name-intro {
    /* display: none; */
    font-family: 'PromptHeader', sans-serif;
    font-size: 2em;

    background: -webkit-linear-gradient(0deg, #ffffff, #ffffff, rgb(229, 100, 255), rgb(255, 153, 135));
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    animation: fade 2s alternate, gen-gradient 2s ease 1s, fade 1s ease 4s reverse;
    animation-fill-mode: forwards;
}

/*  =============================================
    Top navigation section
    ============================================  */

ul {
    font-family: 'PromptNavbar', sans-serif;
    list-style-type: none;
    overflow: hidden;

    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: linear-gradient(45deg, rgb(255, 98, 152) 10%, rgb(130, 81, 225) 90%);
    box-shadow: 4px 4px 16px #111111; 
}

li {
    float: left;
    display: inline;
}

li a {
    display: block;
    padding: 16px 16px;

    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    cursor: pointer;
    background-color: rgb(124, 26, 70);
}

.material-icons.md-60 { 
    font-size: 200%;
    margin-top: 10px;
    margin-right: 5px;

    animation: circumstance 3s forwards linear;
}

#setting-icon {
    animation: none;
}

/*  =============================================
    Info-Display section
    ============================================  */
.row {
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: flex;
}

.info-column {
    flex: 40%;
    margin-top: 70px;
}

.name {
    font-family: 'PromptHeader', sans-serif;
    font-size: 225%;
    line-height: 100%;

    padding: 0.5% 0;
    background: -webkit-linear-gradient(135deg, rgb(229, 100, 255), rgb(255, 153, 135));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
     
    animation: hue-shift 8s infinite alternate;
}

.slogan {
    line-height: 100%;

    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
}

.kumkom {
    color: white;
    font-size: 80%;
    line-height: 100%;

    margin-top: 50px;
    margin-bottom: 40px;
}

.row-buttom {
    display: flex;
}

.recommend {
    display: flex;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}  

.pic-sec {
    text-align: center;
    font-size: 90%;
}

.desc {
    word-wrap: break-word;
    line-height: 140%;

    display: inline;
    margin-left: 40px;
    padding: 0;
    color: #cad3ff;
}

.recommend-message {
    border: 1px solid white;
    padding: 5px;
}

#last-line {
    margin-top: 8%;
}

.desc h4 {
    margin: 0;
    padding: 0;
}

/*  =============================================
    Water Dispenser hourly status section
    ============================================  */
.status-Arcticle {
    margin: 2% 2%;
    font-style: bold;
}

.status-column {
    flex: 40%;
    margin-left: 5%;
    margin-top: 2%;
    margin-top: 100px;
    min-height: 500px;
}

#crown-ic {
    display: flex;
    height: 10%;
    width: 10%;
    margin-top: 5.5%;
    margin-left: auto;
}

.minitab {
    text-align: center;

    margin: 20px auto;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    background: rgb(82, 68, 204);
}

.minitab h2 {
    font-family: 'PromptNavbar', sans-serif;
    font-weight: 200;
    
    margin: 2.6% auto 2.6% 0;
}

.minitab:hover {
    background-color: rgb(58, 137, 255);
}

.minitab-perfector {
    display: flex;
}

.minitab img {
    margin-left: auto;
    margin-right: 1%;
}

.hourly-bound {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid black;
}

.hourly-topic {
    box-sizing: content-box;
    display: flex;
    margin-top: 5%;
    position: inherit;
}

.hourly-topic h2{
    font-family: 'PromptNavbar', sans-serif;
    font-size: 1.75em;

    display: flex;
    margin: 5% auto 5% 1%;
    padding: 0; 
    background: -webkit-linear-gradient(0deg, #ff5494, #ff9870);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

.hourly-update {
    text-align: center;

    display: block;
    margin: 10px auto;
    width: 90%;
    min-height: 40%;
    border-radius: 20px;
    color: black;
    background: linear-gradient(90deg, #ffffff 95%, #e9e7e5 100%);
    box-shadow: 4px 4px 16px #111111; 
}

/*  =============================================
    Column 3 status section
    ============================================  */
.status-column2 {
    flex: 20%;
    margin-top: 100px;
    min-height: 500px;
}

.daily-update {
    min-height: 30%;
    padding-bottom: 5%;
    border-radius: 10px;
    background: linear-gradient(45deg, #5b4fff 10%, rgb(130, 81, 225) 90%);
    box-shadow: 4px 4px 16px #111111; 
}

.weekly-update {
    min-height: 30%;
    padding-bottom: 5%;
    border-radius: 10px;
    background: linear-gradient(45deg, rgb(130, 81, 225) 10%, rgb(178, 63, 255) 90%);
    box-shadow: 4px 4px 16px #111111; 
}

.water-mini-topic {
    text-align: center;
    font-size: 1.5em;

    padding-top: 5%;
    margin-top: 7.5%;
    margin-bottom: 1%;
}

.daily-lastest, .weekly-lastest {
    text-align: center;  
    margin-top: 0 0;

    font-size: 0.75em;
    margin-bottom: 5%;
}

.daily-announce, .weekly-announce {
    display: inline;
     
}

#show-daily {
    border-radius: 7.5px;
    padding: 0 5px;
    background-color: #581ec5;
}

#show-weekly {
    border-radius: 7.5px;
    padding: 0 5px;
    background-color: #8215b4;
}

.fetch-row1 h3, .fetch-row2 h3 {
    margin: 0;
    padding: 0;
}

.fetch-row1 {
    margin: 0;
    width: 100%;
    min-height: 70px;
    height: 30%;
}

.fetch-row2 {
    margin: 0;
    width: 100%;
    min-height: 70px;
    height: 30%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.column2-pic {
    position: inherit;
    padding: 0;
    margin: 5% 0 5% 10%;
    position: initial;
    max-width: 50px;
    max-height: 50px;
    height: auto;
    width: auto;
    border-radius: 50%;
    border: 4px solid #7998ff;
}

.column2-content h4 {
    margin: 5% 0 5% 0;
    padding: 0;
}

.column2-column {
    display: flex;
}

.column2-content {
    flex: 50%;
    margin-left: 10%;
}

/*  =============================================
    Fetch status section
    ============================================  */
.hourly-lastest {
    margin-top: 5%;
}

.hourly-announce {
    font-family: 'PromptNavbar', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    text-align: center;

    display: inline;
    padding-top: 5%;
    background: -webkit-linear-gradient(0deg, #ff5494, #ff9870);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
}

.water{
    text-align: center;
    font-style: bold;

    margin: 3% 7%;
}

.water1 {
    width: 100px;
    height: 100px;
    background-position: left;
    border-radius: 50%;
    border: 6px solid #ff8eaa;

}

.water2 {
    width: 100px;
    height: 100px;
    background-position: right;
    border-radius: 50%;
    border: 6px solid #ff8eaa;
}

.row1 {
  display: flex;
  padding-top: 50px;
  /* color: white; */
  color: rgb(50, 40, 77);
  /* background: linear-gradient(to left, #525df1, #a56af1); */
}

.column1 {
    width: 100%;
    padding: 5px;
}

.column1-text {
    margin-top: 15%;
    margin-bottom: 20%;
}
/*  =============================================
    modal trigger section
    ============================================  */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    /* padding-top: 40px;  */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    margin-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
}

.modal-topic {
    font-family: 'PromptNavbar', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #4a85b6;

    margin: auto;
    width: 95%;
    padding: 1%;
    border-radius: 15px;
    background: rgb(255, 255, 255); 
    box-shadow: 4px 4px 8px #474747;
}

.close {
    color: #ffffff;

    display: flex;
    width: 15%;
    padding: 1%;
    margin: auto;
    border-radius: 30px;
}

#close-setting {
    background: linear-gradient(to right bottom, rgb(255, 215, 105), rgb(255, 150, 108));
}

#close-about {
    margin-top: 2.5%;
    background: linear-gradient(45deg, rgb(130, 81, 225) 10%, rgb(178, 63, 255) 90%);
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

.close:hover {
    transition: transform .25s;
}

.close h2 {
    font-size: 1.5em;
    text-align: center;

    margin: auto;
}

.modal-row {
    display: flex;
    margin-top: 0px;
}

.modal-row h2 {
    text-align: center;
}

.modal1 {
    flex: 50%;
    margin: 2.5%;
    min-height: 450px;
    width: 50%;
    border-radius: 50px;
    background: linear-gradient(to right bottom, rgb(82, 255, 174), rgb(41, 154, 199));
    box-shadow: 4px 4px 8px #474747;
}

.modal2 {
    flex: 50%;
    margin: 2.5%;
    min-height: 100%;
    width: 50%;
    background: linear-gradient(to right bottom, rgb(65, 221, 248), rgb(120, 105, 255));
    box-shadow: 4px 4px 8px #474747;
    border-radius: 50px;
}

.slot-pic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    box-shadow: 10px 10px 0px #3168bb;
}

.pc-left {
    margin-left: 6%;
}

#slot1-gauge {
    margin: auto;
    width: 90%;
    height: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px #4b4b4b;
}

#slot2-gauge {
    margin: auto;
    width: 90%;
    height: 30px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px #4b4b4b;
}

#gauge1-data {
    text-align: center;

    width: 0%;
    height: 100%;
    border-radius: 20px;
    color: black;
    background-color: #5dffce;
}

#gauge2-data {
    text-align: center;

    width: 0%;
    height: 100%;
    border-radius: 20px;
    color: black;
    background-color: rgb(97, 197, 255);
}

.close:hover {
    transform: scale(1.125);
}

/*  =============================================
    contact modal section
    ============================================  */
.modal-about {
    display: none; 
    position: fixed; 
    z-index: 1; 
    /* padding-top: 40px;  */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.modal-about-content {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: #111111;
    border-radius: 50px;
}

.border-gradient {
  width: 50%;
  height: 85%;
  border: double 4px transparent;
  border-radius: 50px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(rgb(11, 11, 22), rgb(11, 11, 22)), radial-gradient(circle at top left, #743ad5, #d53a9d);
}

.modal-about-content img {
    display: flex;
    margin: auto;
    width: 200px;
    height: 200px;
    border: 4px solid #ff5494;
}

.modal-about-content h1 {
    font-family: 'PromptNavbar', sans-serif;
    font-size: 3em; 
    text-align: center;

    background: -webkit-linear-gradient(-45deg, #ff5494, #ff9870);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;  
}

#iu {
    text-align: center;
    margin: 5% 0 2.5% 0;
}

.modal-about-content h4 {
    word-wrap: break-word;

    width: 80%;
    margin: auto;
    color: #9476ff;
}
/*  =============================================
    KeyFrames animation section
    ============================================  */

@keyframes hue-shift {
    from {
        filter: hue-rotate(0);
    
    } to {
        filter: hue-rotate(360deg);
    }
}

@keyframes circumstance {
    from {
        transform: rotate(0deg);
    
    } to {
        transform: rotate(360deg);
    }
}

@keyframes fade {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes gen-gradient {
    0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

.hourly-update, .daily-update, .weekly-update {
    transition: transform .25s;
}

.hourly-update:hover, .daily-update:hover, .weekly-update:hover {
    transform: scale(1.0625);
}